<nav class="hidden-xs-down bg-faded sidebar">
  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a href="#" class="nav-link active">Test</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">Propriete</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">Reglages</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">Connexion</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">Quitter</a>
    </li>
  </ul>
</nav>